<div style="margin: 10px 0">
  <span style="margin: 0 0 0 50px; font-weight: bold">Two.js</span>
  <span *ngIf="!useWebGl" style="margin: 0 50px 0 0; font-weight: bold"> - Canvas</span>
  <span *ngIf="useWebGl" style="margin: 0 50px 0 0; font-weight: bold"> - WebGl</span>
  <button (click)="changeAnimation()" style="margin-right: 20px">{{isAnimation? "stop" : "start"}} animation</button>
  <button (click)="setZoom(1)" style="margin-right: 20px">zoom 100%</button>
  <button (click)="setZoom(3)" style="margin-right: 20px">zoom 300%</button>
  <button (click)="setZoom(6)" style="margin-right: 20px">zoom 600%</button>
  <button (click)="createScene(1000)">1000</button>
  <button (click)="createScene(5000)">5000</button>
  <button (click)="createScene(10000)">10000</button>
</div>
<div #redactor style="position: relative;"></div>
