<div>
  <button (click)="createKonvaJs()">create Konva.js</button>
  <button (click)="konvaJs = false">remove Konva.js</button>
  <button (click)="createFabricJs()" style="margin-left: 20px">create fabricjs</button>
  <button (click)="fabricjs = false">remove fabricjs</button>
  <button (click)="createPixi()" style="margin-left: 20px">create pixi</button>
  <button (click)="pixi = false">remove pixi</button>
  <button (click)="createSvgJs()" style="margin-left: 20px">create SVG.js</button>
  <button (click)="svgJs = false">remove SVG.js</button>

  <span style="margin-left: 20px">Rotation speed: </span>
  <input type="number" [(ngModel)]="rotationAngle" style="width: 40px">

  <span style="margin-left: 20px">Use svg instead of rect</span>
  <input type="checkbox" [(ngModel)]="isSvg">

  <span style="margin-left: 20px">Svg with gradients</span>
  <input type="checkbox" (change)="changeSvgPath($event.target)">

  <span style="margin-left: 20px">Pixi Antialias (before create)</span>
  <input type="checkbox" [(ngModel)]="isPixiAntialias">
</div>
<svg-js *ngIf="svgJs" [svgFilePath]="svgPath"></svg-js>
<fabric-js *ngIf="fabricjs" [svgFilePath]="svgPath"></fabric-js>
<pixi *ngIf="pixi" [isAntialias]="isPixiAntialias" [svgFilePath]="svgPath"></pixi>
<konva-js *ngIf="konvaJs" [svgFilePath]="svgPath"></konva-js>
